Repository ASL-Programs/ASL.CodeEngineering, changes with the labels that .github/labeler.yml gives for each.
All labels: csharp, tests, documentation

Update CodeQL workflow to manual build
  .github/workflows/codeql.yml
  NEXT_STEPS.md
  REFERENCE_FILES.md
Labels: none

Add summary failure logging test
  NEXT_STEPS.md
  tests/ASL.CodeEngineering.Tests/MainWindowSummaryLoggingTests.cs
Labels: tests

Add summary failure logging test
  NEXT_STEPS.md
  tests/ASL.CodeEngineering.Tests/MainWindowSummaryLoggingTests.cs
Labels: tests

Handle log write errors
  NEXT_STEPS.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/ProcessRunner.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  tests/ASL.CodeEngineering.Tests/LogWriteErrorTests.cs
Labels: csharp, tests

Add offline mode and local AI provider
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/EchoAIProvider.cs
  src/ASL.CodeEngineering.AI/IAIProvider.cs
  src/ASL.CodeEngineering.AI/OpenAIProvider.cs
  src/ASL.CodeEngineering.AI/ReverseAIProvider.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  tests/ASL.CodeEngineering.Tests/AIProviderLoaderDuplicateTests.cs
  tests/ASL.CodeEngineering.Tests/CompileProviderFixture.cs
  tests/ASL.CodeEngineering.Tests/MainWindowEnvVarTests.cs
  tests/ASL.CodeEngineering.Tests/MainWindowLoggingTests.cs
  tests/ASL.CodeEngineering.Tests/MainWindowOfflineTests.cs
  tests/ASL.CodeEngineering.Tests/MainWindowSanitizationTests.cs
  tests/ASL.CodeEngineering.Tests/MainWindowSummaryLoggingTests.cs
  tests/ASL.CodeEngineering.Tests/ReverseAIProviderTests.cs
Labels: csharp, tests

AGENTS.md
  AGENTS.md
Labels: none

AGENTS.md
  AGENTS.md
Labels: none

Check off logging fallback tasks
  NEXT_STEPS.md
  REFERENCE_FILES.md
Labels: none

docs: clarify LOGS_DIR fallback
  NEXT_STEPS.md
  README.md
Labels: none

docs: remove nonexistent references
  NEXT_STEPS.md
  REFERENCE_FILES.md
Labels: none

Ignore generated data directories
  .gitignore
  NEXT_STEPS.md
  REFERENCE_FILES.md
Labels: none

Clarify example template in NEXT_STEPS
  NEXT_STEPS.md
Labels: none

Add label workflow reference
  NEXT_STEPS.md
  REFERENCE_FILES.md
Labels: none

Fix README directory list
  NEXT_STEPS.md
  README.md
Labels: none

Add LocalAI provider with meta summaries
  AGENTS.md
  NEXT_STEPS.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/LocalAIProvider.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  tests/ASL.CodeEngineering.Tests/LocalAIProviderTests.cs
  tests/ASL.CodeEngineering.Tests/MainWindowLocalProviderTests.cs
Labels: csharp, tests

Add editorconfig for formatting
  .editorconfig
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
Labels: none

Document duplicate provider and plugin warnings
  NEXT_STEPS.md
  ai_providers/README.md
  plugins/README.md
Labels: none

docs: update README provider list
  NEXT_STEPS.md
  README.md
Labels: none

Skip duplicate providers and plugins
  NEXT_STEPS.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AIProviderLoader.cs
  src/ASL.CodeEngineering.AI/PluginLoader.cs
  tests/ASL.CodeEngineering.Tests/AIProviderLoaderDuplicateTests.cs
  tests/ASL.CodeEngineering.Tests/PluginLoaderDuplicateTests.cs
Labels: csharp, tests

docs: clarify language usage
  LANGUAGE_DECISIONS.md
  NEXT_STEPS.md
  REFERENCE_FILES.md
Labels: none

Document summary aggregation
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
Labels: none

Add Interop generator for Python wrappers
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/Interop/InteropGenerator.cs
  tests/ASL.CodeEngineering.Tests/InteropGeneratorTests.cs
Labels: csharp, tests

Add OPENAI_API_URL environment variable
  NEXT_STEPS.md
  README.md
  src/ASL.CodeEngineering.AI/OpenAIProvider.cs
  tests/ASL.CodeEngineering.Tests/OpenAIProviderTests.cs
Labels: csharp, tests

Add Node.js wrapper generator and tests
  LANGUAGE_DECISIONS.md
  NEXT_STEPS.md
  README.md
  src/ASL.CodeEngineering.AI/Interop/InteropGenerator.cs
  tests/ASL.CodeEngineering.Tests/InteropGeneratorTests.cs
Labels: csharp, tests

Add Build/Test Runner plugin example
  NEXT_STEPS.md
  plugins/README.md
Labels: none

Add feature language analyzer and benchmarking harness
  AGENTS.md
  LANGUAGE_DECISIONS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  knowledge_base/benchmarks/.gitkeep
  src/ASL.CodeEngineering.AI/BenchmarkHarness.cs
  src/ASL.CodeEngineering.AI/FeatureLanguageAnalyzer.cs
  tests/ASL.CodeEngineering.Tests/BenchmarkHarnessTests.cs
  tests/ASL.CodeEngineering.Tests/FeatureLanguageAnalyzerTests.cs
Labels: csharp, tests

Add autonomous learning mode and task focus
  AGENTS.md
  NEXT_STEPS.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
Labels: csharp

Add ProjectPlanner for roadmap execution
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/ProjectPlanner.cs
  tests/ASL.CodeEngineering.Tests/ProjectPlannerTests.cs
Labels: csharp, tests

Add documentation crawler and dashboard
  AGENTS.md
  NEXT_STEPS.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/DocumentationCrawler.cs
  src/ASL.CodeEngineering.App/DashboardWindow.xaml
  src/ASL.CodeEngineering.App/DashboardWindow.xaml.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  tests/ASL.CodeEngineering.Tests/DocumentationCrawlerTests.cs
Labels: csharp, tests

Add learning progress UI and versioning
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
  src/ASL.CodeEngineering.AI/MetaAnalyzer.cs
  src/ASL.CodeEngineering.AI/VersionManager.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
Labels: csharp

Add knowledge packages and load in engine
  .gitignore
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  knowledge_base/packages/chat_interaction/guide.md
  knowledge_base/packages/learn_to_learn/guide.md
  knowledge_base/packages/software_languages/csharp_notes.md
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
Labels: csharp

Mark planner, crawler and dashboard tasks complete
  NEXT_STEPS.md
Labels: none

Add offline learning modules and model versioning
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
  src/ASL.CodeEngineering.AI/OfflineLearning/GradientTrainer.cs
  src/ASL.CodeEngineering.AI/OfflineLearning/ModelLoader.cs
  src/ASL.CodeEngineering.AI/OfflineLearning/ModelVersionManager.cs
  src/ASL.CodeEngineering.AI/OfflineLearning/OfflineModel.cs
  src/ASL.CodeEngineering.AI/OfflineLearning/Tensor.cs
Labels: csharp

Add knowledge package toggles
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  tests/ASL.CodeEngineering.Tests/MainWindowPackageTests.cs
Labels: csharp, tests

Add DocsUpdater for cycle documentation
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  docs/archive/.gitkeep
  src/ASL.CodeEngineering.AI/DocsUpdater.cs
  tests/ASL.CodeEngineering.Tests/DocsUpdaterTests.cs
Labels: csharp, tests, documentation

mark offline learning tasks complete
  NEXT_STEPS.md
Labels: none

Add OfflineLearning unit tests
  NEXT_STEPS.md
  REFERENCE_FILES.md
  tests/ASL.CodeEngineering.Tests/OfflineLearningTests.cs
Labels: tests

Record docs each learning cycle and test
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
  tests/ASL.CodeEngineering.Tests/AutonomousLearningEngineDocsUpdaterTests.cs
Labels: csharp, tests

Enhance planner analytics and dashboard
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/ProjectPlanner.cs
  src/ASL.CodeEngineering.App/DashboardWindow.xaml
  src/ASL.CodeEngineering.App/DashboardWindow.xaml.cs
  tests/ASL.CodeEngineering.Tests/DashboardWindowTests.cs
  tests/ASL.CodeEngineering.Tests/ProjectPlannerTests.cs
Labels: csharp, tests

Add planned work section
  AGENTS.md
  NEXT_STEPS.md
Labels: none

.github/labeler.yml:

csharp:
  - src/**

tests:
  - tests/**

documentation:
  - docs/**
