Repository ASL-Programs/ASL.CodeEngineering, changes with the labels that .github/labeler.yml gives for each.
All labels: csharp, tests, documentation

.github/labeler.yml:

csharp:
  - src/**

tests:
  - tests/**

documentation:
  - docs/**

Implement version preview workflow
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/BuildProcess.cs
  src/ASL.CodeEngineering.AI/VersionManager.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
Labels: csharp

Add training metrics tracking and adaptive learning
  AGENTS.md
  NEXT_STEPS.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
  src/ASL.CodeEngineering.AI/TrainingMetricsAnalyzer.cs
  tests/ASL.CodeEngineering.Tests/AutonomousLearningEngineAdaptiveTests.cs
  tests/ASL.CodeEngineering.Tests/TrainingMetricsAnalyzerTests.cs
Labels: csharp, tests

Add ProjectGenerator and new project UI
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/ProjectGenerator.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  tests/ASL.CodeEngineering.Tests/ProjectGeneratorTests.cs
Labels: csharp, tests

Add roadmap tasks to NEXT_STEPS
  NEXT_STEPS.md
Labels: none

Add offline training dataset and auto-initialization
  .gitignore
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  knowledge_base/offline_training/README.md
  knowledge_base/offline_training/data.csv
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
  src/ASL.CodeEngineering.AI/OfflineLearning/ModelLoader.cs
Labels: csharp

Mark roadmap tasks complete
  NEXT_STEPS.md
Labels: none

Add WPF build instructions
  NEXT_STEPS.md
  README.md
Labels: none

docs: reference docs/archive backups
  REFERENCE_FILES.md
Labels: none

Add tests for BuildProcess version archiving
  AGENTS.md
  NEXT_STEPS.md
  REFERENCE_FILES.md
  tests/ASL.CodeEngineering.Tests/BuildProcessTests.cs
Labels: tests

Add SecureLogger with AES encrypted logging
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AIProviderLoader.cs
  src/ASL.CodeEngineering.AI/PluginLoader.cs
  src/ASL.CodeEngineering.AI/ProcessRunner.cs
  src/ASL.CodeEngineering.AI/SecureLogger.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
Labels: csharp

Add plugin management panel
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  plugins/README.md
  src/ASL.CodeEngineering.AI/AIProviderLoader.cs
  src/ASL.CodeEngineering.AI/PluginLoader.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
Labels: csharp

Add HealthMonitor service with tests
  AGENTS.md
  NEXT_STEPS.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/HealthMonitor.cs
  tests/ASL.CodeEngineering.Tests/HealthMonitorTests.cs
Labels: csharp, tests

Extend benchmarking metrics and dashboard
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/BenchmarkHarness.cs
  src/ASL.CodeEngineering.AI/DotnetBuildTestRunner.cs
  src/ASL.CodeEngineering.AI/MetaAnalyzer.cs
  src/ASL.CodeEngineering.AI/ProcessRunner.cs
  src/ASL.CodeEngineering.AI/PythonBuildTestRunner.cs
  src/ASL.CodeEngineering.App/DashboardWindow.xaml
  src/ASL.CodeEngineering.App/DashboardWindow.xaml.cs
  tests/ASL.CodeEngineering.Tests/BenchmarkHarnessTests.cs
  tests/ASL.CodeEngineering.Tests/DashboardWindowTests.cs
  tests/ASL.CodeEngineering.Tests/MetaAnalyzerTests.cs
Labels: csharp, tests

Add user profile support
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  src/ASL.CodeEngineering.App/UserProfile.cs
  tests/ASL.CodeEngineering.Tests/UserProfileTests.cs
Labels: csharp, tests

Add multilingual support
  NEXT_STEPS.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.App/ASL.CodeEngineering.App.csproj
  src/ASL.CodeEngineering.App/DashboardWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  src/ASL.CodeEngineering.App/Resources/Strings.az.resx
  src/ASL.CodeEngineering.App/Resources/Strings.resx
  src/ASL.CodeEngineering.App/Resources/Strings.ru.resx
  src/ASL.CodeEngineering.App/Resources/Strings.tr.resx
  src/ASL.CodeEngineering.App/Strings.cs
Labels: csharp

Add SignalR session sharing
  AGENTS.md
  LANGUAGE_DECISIONS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.App/ASL.CodeEngineering.App.csproj
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  src/ASL.CodeEngineering.App/Sync/RoadmapHub.cs
  src/ASL.CodeEngineering.App/Sync/SyncClient.cs
  src/ASL.CodeEngineering.App/Sync/SyncServer.cs
  tests/ASL.CodeEngineering.Tests/SessionSharingTests.cs
Labels: csharp, tests

Add role-based permissions system
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/AIProviderLoader.cs
  src/ASL.CodeEngineering.AI/OpenAIProvider.cs
  src/ASL.CodeEngineering.AI/Permissions.cs
  src/ASL.CodeEngineering.AI/PluginLoader.cs
  src/ASL.CodeEngineering.AI/VersionManager.cs
  src/ASL.CodeEngineering.App/LoginWindow.xaml
  src/ASL.CodeEngineering.App/LoginWindow.xaml.cs
  src/ASL.CodeEngineering.App/MainWindow.xaml.cs
  src/ASL.CodeEngineering.App/Resources/Strings.az.resx
  src/ASL.CodeEngineering.App/Resources/Strings.resx
  src/ASL.CodeEngineering.App/Resources/Strings.ru.resx
  src/ASL.CodeEngineering.App/Resources/Strings.tr.resx
  src/ASL.CodeEngineering.App/Strings.cs
  tests/ASL.CodeEngineering.Tests/PermissionsTests.cs
Labels: csharp, tests

Add release report generation
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/BuildProcess.cs
  src/ASL.CodeEngineering.AI/DocsUpdater.cs
  tests/ASL.CodeEngineering.Tests/BuildProcessTests.cs
Labels: csharp, tests

Add ASP.NET Core ApiServer
  AGENTS.md
  ASL.CodeEngineering.sln
  LANGUAGE_DECISIONS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.Api/ASL.CodeEngineering.Api.csproj
  src/ASL.CodeEngineering.Api/ApiServer.cs
  src/ASL.CodeEngineering.Api/Program.cs
  tests/ASL.CodeEngineering.Tests/ApiServerTests.cs
Labels: csharp, tests

Add Windows Dockerfile and optional k8s manifests
  Dockerfile
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  k8s/deployment.yaml
  k8s/service.yaml
Labels: none

Add GPU support via TensorFlow.NET
  AGENTS.md
  LANGUAGE_DECISIONS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/ASL.CodeEngineering.AI.csproj
  src/ASL.CodeEngineering.AI/AutonomousLearningEngine.cs
  src/ASL.CodeEngineering.AI/GpuDeviceManager.cs
  tests/ASL.CodeEngineering.Tests/GpuDeviceManagerTests.cs
Labels: csharp, tests

Add ComplianceChecker and data management
  AGENTS.md
  NEXT_STEPS.md
  README.md
  REFERENCE_FILES.md
  src/ASL.CodeEngineering.AI/ComplianceChecker.cs
  src/ASL.CodeEngineering.AI/UserDataManager.cs
  src/ASL.CodeEngineering.Api/ApiServer.cs
  tests/ASL.CodeEngineering.Tests/ApiServerComplianceTests.cs
  tests/ASL.CodeEngineering.Tests/ComplianceCheckerTests.cs
Labels: csharp, tests
